# Archivos compilados de Java
*.class

# Archivos de texto (base de datos local / txt)
*.txt

# Carpetas de compilación (Maven u IntelliJ)
target/
out/
build/
bin/

# Archivos de configuración local de IntelliJ
.idea/
*.iml

# Sistema operativo
.DS_Store
Thumbs.db